body {
    padding: 0;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #348cb2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    font-weight: 900;
    color: #99d9f562;
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(47, 219, 182);
    margin-bottom: 0;
    font-size: 60px;
}
a   {
    display: flex;
    color: rgb(255, 255, 255);
    outline: 0; 
    text-decoration: none;
    font-size: 42px; 
    }
.podtytul {
    margin-top: 0px;
    margin-bottom: 10px;
}
.ikony {
    display: flex;
    justify-content: center;
}
.social_media {
    display: flex;
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    border: solid 1px;
    color: rgb(255, 255, 255);
    width: 72px;
    height: 72px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.social_media:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.175)
}
